
<div *ngIf="!tweet.isLiked; then isFav else isLik">
</div>
<ng-template #isFav>
test 1
</ng-template>
<br />
<ng-template #isLik>
test 2
</ng-template>

<div class="ui secondary  menu">
            <a class="item"
            [class.active]="viewMode=='job'" (click)="viewMode='job'">
                  Left-Right Functionality
            </a>
            <a class="item"
            [class.active]="viewMode=='tweet'" (click)="viewMode='tweet'">
                  Tweet Functionality
            </a>   
            <a class="item"
            [class.active]="viewMode=='testTable'" (click)="viewMode='testTable'">
                  Table
            </a>          
</div>
<div [ngSwitch]="viewMode">
      <div *ngSwitchCase="'job'">
            <app-quartz-job-cli [is-fav]="post.isFavourite" (change)="onFavoriteChanged($event)"></app-quartz-job-cli>
      </div>
      <div *ngSwitchCase="'tweet'">
            <like [likesCount]="tweet.likesCount" [isActive]="tweet.isLiked"></like>
      </div>
      <div *ngSwitchCase="'testTable'">
            <input type="text" appInputformater [format]="'uppercase'"> <br />
            <testTable></testTable>

      </div>
      <div *ngSwitchDefault>
            Not implemented yet!
      </div>
</div>
<br />
<br />
<br />
<zippy title="Content header">Content header content</zippy>



